@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=Roboto:wght@100;300;500&display=swap');

* {
    /*reset en los estilos que da html*/
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Variables*/
:root{
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisaceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPalido: rgb(255, 239, 234);
    --rojoBrillante: rgb(242, 95, 58);
    --rojoPalido: rgb(244, 150, 126);
    --varianteGrisClaro: rgb(249, 249, 249);
}

a{
    color: var(--azulOscuro);
    text-decoration: none;
}

a:hover{
    color: var(--rojoBrillante);
}

a:active{
    background-color: var(--rojoBrillante);
    border-radius: 5em;
    padding:  1em;
}


button{
    background-color:  var(--rojoBrillante);
    border: none;
    border-radius: 2em;
    color:  var(--varianteGrisClaro);
    cursor: pointer;
    font-size: 1em;
    padding: 0.7em 1.2em;
}


h1{
    align-items: center;
    color: var(--azulOscuro);
    display: flex;
    font-family: 'Be Vietnam';
    line-height: 1em;
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.035em;
    width: 7em;
}

h2{
    color: var(--azulOscuro);
    font-family: 'Be Vietnam';
    font-style: normal;
    font-size: 2em;
    font-weight: 700;
}

h3, h4{
    color: var(--azulOscuro);
    font-weight: 700;
}

img{
    max-height: 100%;
    max-width: 100%;
}

input{
    color: var(--rojoBrillante);
    border: none;
    border-radius: 5em;
    padding: 1em;
}

p{
    color: var(--azulGrisaceoOscuro);
    font-size: 1em;
}

body{
    background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 62.5rem -12.5rem;
    font-size: 1em;
    max-width: 1440px;
}


/* headar */
header{
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin: 5em;
}

.imgHeader{
    width: 7.5em ;
    height: 1.5em;
}

.navheader{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    gap: 2em;
    justify-content: space-between;
    text-decoration: none;
}

.imgMenu{
    display: none;
}

button:hover{
    background: var(--rojoPalido);
    background-image: -webkit-linear-gradient(top, var(--rojoPalido));
    background-image: -moz-linear-gradient(top, var(--rojoPalido));
    background-image: -o-linear-gradient(top, var(--rojoPalido));
    background-image: linear-gradient(bottom, var(--rojoPalido));
    text-decoration: none;
}

header button{
    box-shadow: 0em 0.2em 0.5em var(--azulGrisaceoOscuro);
}

.abrir, .cerrar {
    display: none;
}

#abrir-cerrar {
    display: none;
}

/* main Home */

main{
    background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: -31.25rem 62.5rem;
    display: flex;
    flex-direction: column;
}

.home{
    display: flex;
    justify-content: space-between;
    margin: 2em 5em;
}

.home1{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.home1 p {
    width: 18em;
}

.home1 button{
    box-shadow: 0em 0.2em 0.5em var(--rojoBrillante);
}

/* Sobre nosotros */

.nosotros{
    display: flex;
    justify-content: space-between;
    margin: 2em 4em;
}

.articleNosotros{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.articleNosotros h2{
    align-items: center;
    display: flex;
    font-family: 'Be Vietnam';
    line-height: 1em;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.038em;
    width: 9em;
}

.articleNosotros p {
    text-align: justify;
    width: 18em;
}

.articleProductos{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.productos{
    display: flex;
    gap: 1em;
}

.articleNumeros{
    background-color:  var(--rojoBrillante) ;
    color:  var(--varianteGrisClaro) ;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    display: inline;
}

/* este elemento se encuentra en el html en la segunda seccion en el segundo article*/

.text1{
    color: var(--azulOscuro);
    gap: 2em;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
}

.text2{
    font-size: 1em;
    font-weight: 400;
    margin-top: 1em;
    padding-left: 5.5em;
    text-align: justify;
    width: 28em;
}

/* seccion de testimonios */

.testimonios {
    text-align: center;  
}

.testimonios h2{
    margin: 2em;
    text-align: center;
}

.carrusel{
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}


.cars {
    background-color:var(--varianteGrisClaro);
    text-align: center;
    margin: 3em;
}

.cars p, h4{
    margin: 1em;
    text-align:center;
    width: 20em;
}

.avatar {
    height:5rem;
    position: relative;
    top: -2.20rem;
    width: 5rem;
}

.testimonios button{
    box-shadow: 0em 0.2em 0.5em var(--rojoBrillante);
    margin-bottom: 1em;
}

.section4{
    align-items: center;
    background-color:  var(--rojoBrillante);
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    padding: 2em;
}

.section4 h2{
    align-items: center;
    color: var(--varianteGrisClaro);
    display: flex;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.038em;
    width: 11em;
}

.section4 button{
    color:var(--rojoBrillante);
    background-color:  var(--varianteGrisClaro);
    box-shadow: 0em 0.2em 0.5em var(--azulGrisaceoOscuro);
}

/* Footer */
.footer {
    color: var(--varianteGrisClaro);
    background-color:var(--azulMuyOscuro);
    display:flex;
    height: 15.43rem;
    justify-content: space-between;
    padding: 3em 4em;
}

.footer a{
    color:var(--varianteGrisClaro);
}

.footer a:hover{
    color: var(--rojoBrillante);
}

.navFooter {
    display: flex;
    gap: 10em;
    justify-content: space-between;
}

.navFooter nav {
    display: flex;
    flex-direction: column;
}

.navFooter nav a {
    display: block;
    padding: 0.5em;
}


input::placeholder{
    color: var(--azulGrisaceoOscuro);
}

/* pseudo-clases*/
input:focus{
    background-color: var(--rojoMuyPalido);
    outline-color:var(--rojoBrillante);
}
.logoRedes, .subfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redesSociales i{
    padding: 0.5rem;
    text-transform: var(--rojoBrillante);
}

.redesSociales i:hover{
    color: var(--rojoBrillante);
    text-decoration: none;
}

.nav{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 1em;
    justify-content: space-around;
    text-decoration: none;
}

.nav a:hover {
    color: var(--rojoBrillante);
}

.copyright1{
    font-size: 10px;
}

.copyright2 {
    display: none;}


/* Mobile */
@media (max-width: 375px) { 
    
    /* header*/

    header{
        margin: 2em;
        display: flex;
        justify-content: space-around;
    }

    .abrir{
        display: flex;
        justify-content: space-between;
    }
    
    .navheader{
        background-color: var(--rojoPalido);
        border-radius: 0.5em;
        display: none;
        opacity: 0.8;
        position: absolute;
        top: 4em;
        right: 1em;
    }
    
    .navheader a{
        padding: 0.5em;
    }

    input#abrir-cerrar:checked + .toggle-button .abrir, input#abrir-cerrar:checked + .toggle-button .navheader {
        display:none;
    }

    input#abrir-cerrar:checked + .toggle-button .cerrar, input#abrir-cerrar:checked + .toggle-button .navheader {
        display: block;
    }

    header button{
        display: none;
    }

    .imgMenu{
        display: flex;
    }

    /*main*/

    main{
        gap: 2em;
}

    /*haeder*/

    button{
        padding: 0.5em 1em;
    }

    /*home*/

    .home{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0.5em;
    }

    .home1{
        gap: 1em;
        margin: 1em;
        text-align: center;
    }

    h1{
        font-size: 34px;
        letter-spacing: -0.01em;
        text-align: center;
        width: 10em;
    }

    .home1 p {
        text-align: justify;
        width: 20em;
    }

    /* seccion nosotros*/
    .nosotros{
        flex-direction:column ;
        gap: 1em;
        margin: 0em;
    }

    .articleNosotros h2{
        display: flex;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .articleNosotros p {
        text-align: center;
        width: 100%;
        padding: 1em;
    }

    .articleProductos{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-left: 0.5em;
    }

    .productos{
        background-color: var(--rojoMuyPalido);
        border-radius:1em 0 0 1em;
        font-size: 13px;
    }

    /* este elemento se encuentra en el html en la segunda seccion en el segundo article*/
    
    .text2{
        padding: 0.5em;
        width: 100%;
    }

    /*seccion testimonios*/
    .testimonios h2{
        font-size: 32px;
        margin-bottom: 4em;
        text-align: center;
        }

    .carrusel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .grande{
        display: flex;
        flex-direction: column;
    }


    /* footer*/
    .section4{
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    }

    .footer {
        align-items: center;
        flex-direction: column-reverse;
        gap: 1em;
        height: auto;
    }

    .logoRedes{
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        justify-content: space-between;
        font-size: 12px;
    }

    .logoRedes img {
        max-width: 50%;
    }

    .redesSociales i{
        font-size: 1.8em;
    }

    .navFooter {
        font-size: 0.8em;
        gap: 5em;
    }

    /*.copyright {
        display: block;
        font-size: 0.7em;
        position: relative;
        text-align: center;
        top: 24em;
    }*/

    .copyright1{
        display: none;
    }

    .copyright2 {
        background-color: var(--azulMuyOscuro);
        display: block;
        font-size: 0.7em;
        padding-bottom: 3em;
        text-align: center;
    }
}